/*Estilo para os textos de apoio destacados*/
.form-wrap h2::after {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    max-width: 560px;
    border: 1px solid #b8daff;
    border-radius: 4px;
    background-color: #e7f3ff;
    color: #004085;
    font-size: 13px;
    line-height: 1.5;
}

/* Taxonomia de Locais */
.taxonomy-locais h1.wp-heading-inline,
.taxonomy-locais #screen-meta-links,
.taxonomy-locais .term-slug-wrap,
.taxonomy-locais .wp-list-table .column-slug {

    display: none;
}

/* Campos obrigatórios - Locais */
.taxonomy-locais label[for="tag-name"]::after,
.taxonomy-locais label[for="name"]::after,
.taxonomy-locais label[for="tag-description"]::after,
.taxonomy-locais label[for="description"]::after {
    content: ' *';
    color: #d63638;
}

.taxonomy-locais .form-wrap h2::after {
    content: 'Preencha esta seção somente se o endereço da unidade de exercício da vaga e/ou da Coord/Div/DREs responsável pela vaga não estiver disponível na lista de seleção da seção "Local de Atuação - Unidade de Exercício", acessada pelos gestores e administradores no cadastramento da oportunidade.';
}

/* Taxonomia de Eixos de atuação */
.taxonomy-eixos_atuacao h1.wp-heading-inline,
.taxonomy-eixos_atuacao #screen-meta-links,
.taxonomy-eixos_atuacao .term-slug-wrap,
.taxonomy-eixos_atuacao .term-description-wrap,
.taxonomy-eixos_atuacao .wp-list-table .column-slug,
.taxonomy-eixos_atuacao .wp-list-table .column-description {

    display: none;
}

.taxonomy-eixos_atuacao .form-wrap h2::after {
    content: 'Preencha esta seção caso deseje cadastrar um novo Eixo de Atuação que não esteja disponível entre as opções já existentes no campo “Eixo de Atuação”, localizado na seção “Descrição da Oportunidade”, acessada pelos gestores e administradores no cadastramento da oportunidade.';
}

/* Campos obrigatórios - Eixos de atuação */
.taxonomy-eixos_atuacao label[for="tag-name"]::after,
.taxonomy-eixos_atuacao label[for="name"]::after {
    content: ' *';
    color: #d63638;
}

/* Oportunidades - Listagem/Edição/Filtros */
.post-type-oportunidade #screen-meta-links,
.post-type-oportunidade .wrap a.page-title-action,
.post-type-oportunidade .wp-list-table .column-title span.inline,
.post-type-oportunidade .tablenav .actions .postform:not(#eixos_atuacao),
.post-type-oportunidade #submitpost #visibility,
.post-type-oportunidade #submitpost .post-type-switcher,
.post-type-oportunidade #postbox-container-1 #submitdiv .postbox-header .handle-actions,
.post-type-oportunidade .bulkactions {
    display: none;
}

.post-type-oportunidade .campo-titulo-oportunidade span {
    font-weight: bold;
    color: #646970;
}
