body {
      font-family: 'Open Sans', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 60%;
      margin: 60px auto;
      /* background-color: #f4f4f4; */
      padding: 40px;
      border-radius: 8px;
    }

    .conteudo {
      max-width: 70%;
      margin: 60px auto;
      /* background-color: #f4f4f4; */
      padding: 40px;
      border-radius: 8px;
    }

    .logo img {
      max-height: 80px;
      margin-bottom: 10px;
    }

    h2 {
      color: #e85510;
      font-size: 20px;
      margin-bottom: 10px;
    }

     h2.center {
      color: #e85510;
      font-size: 20px;
      margin-bottom: 10px;
      text-align: center;
    }

    p.description {
      font-size: 16px;
      font-weight: 500;
      color: #333;
      margin-bottom: 30px;
    }

    p.description span.semibold {
      font-weight: 500;
    }

    p.description span.bold {
      font-weight: bold;
    }

    p.description strong {
      font-weight: bold;
    }

    form {
      text-align: left;
    }

    label {
      display: block;
      margin-top: 20px;
      font-weight: bold;
      font-size: 14px;
    }

    input[type="text"],
    input[type="email"] {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 14px;
      box-sizing: border-box;
    }

    .form-row {
      display: flex;
      gap: 10px;
    }

    .form-row .form-group {
      flex: 1;
    }

    .required {
      color: red;
    }

    button#btn-cancela-inscricao{
      width: 220px;
    }

    button {
      margin-top: 30px;
      padding: 12px 20px;
      background-color:rgb(0 63 217);
      color: white;
      font-size: 15px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

    p.rodape {
      font-size: 16px;
      font-weight: 600;
      color: #e85510;
      margin-bottom: 30px;
      text-align: center;
    }

input[type="text"], input[type="email"] {
	background-color: #dfdfdf;
}

.d-inline-block{
	display: inline-block !important;
}

.datas-cancelamento{
	display: inline-block;
}

.datas-cancelamento p{
	font-weight: bold;
}

.datas-cancelamento .custom-checkbox {
    float: left;
}

.datas-cancelamento .custom-checkbox label{
	margin-top: 0;
	font-size: 16px;
	font-weight: normal;
	margin-right: 25px;
}

.datas-cancelamento .custom-checkbox input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 8px;
}

button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
  pointer-events: none;
}

.text-center{
  text-align: center;
}

#btn-confirma-presenca {
    background: #268618;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#btn-cancela-presenca {
    background: #011257;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}