<html>
    <head>
        <style>
            body { font-family: Arial, sans-serif; color: #333; }
            .container { background-color: #f9f9f9; padding: 20px; border: 1px solid #ddd; }
            .dado { margin: 10px 0 20px 0; }
            .espaco { padding-top: 25px; }
            .destaque { font-weight: 600;color: #f97316;font-size: 1rem; margin-top: 50px;}
            a:active {color: blue;font-weight: 500;}
        </style>
    </head>
    <body>
        <div class='container'>
            <div class='dado'>Prezado(a),</div>
            <div class='dado'>Sua inscrição para o sorteio de ingressos do evento <strong>{NOME-INGRESSO}</strong> foi confirmada!</div>
            <div class='dado espaco'>{DATA-SORTEIO}</div>
            <p class='espaco'>Após o sorteio os ganhadores serão contatados por e-mail ou Whatsapp, e a listagem de todos os ganhadores será divulgada na página do evento que você se inscreveu. Fique atento!</p>
            <p class='espaco'>Caso deseje cancelar sua participação neste sorteio, <a href="{LINK-CANCELAR}" target="_blank">clique aqui</a>.</p>
            <br>
            <p class="destaque">Boa sorte!<br>Atenciosamente, Equipe Intranet SME-SP</p>
            <br>
            <img src="{LINK-LOGO}" alt="Logo SME">
            <br>
        </br>
    </body>
</html>