<html>
    <head>
        <style>
            body { font-family: Arial, sans-serif; color: #333; }
            .container { background-color: #f9f9f9; padding: 20px; border: 1px solid #ddd; }
            .dado { margin: 10px 0 20px 0; }
            .espaco { padding-top: 25px; }
            .destaque { font-weight: 600;color: #f97316;font-size: 1rem; margin-top: 50px;}
            a:active {color: blue;font-weight: 500;}
        </style>
    </head>
    <body>
        <div class='container'>
            <div class='dado'>Olá,</div>
            <div class='dado'>Recebemos sua solicitação de cancelamento de inscrição no sorteio <strong>{NOME-INGRESSO}</strong>.</div>
            <p class='espaco'>Para confirmar o cancelamento, clique no link abaixo (válido por 24 horas):</p>
            <p class='espaco'><a href="{LINK-CANCELAR}" target="_blank">👉 Confirmar cancelamento</a>.</p>
            <p class='espaco'>Caso não tenha solicitado o cancelamento, desconsidere este e-mail.</p>
            <br>
            <p class="destaque">Atenciosamente,<br>Equipe Intranet | Secretaria Municipal de Educação</p>
            <br>
            <img src="{LINK-LOGO}" alt="Logo SME">
            <br>
        </br>
    </body>
</html>