<html>
    <head>
        <style>
            body { font-family: Arial, sans-serif; color: #333; }
            .container { background-color: #f9f9f9; padding: 20px; border: 1px solid #ddd; }
            .dado { margin: 10px 0 20px 0; }
            .espaco { padding-top: 25px; }
            .destaque { font-weight: 600;color: #f97316;font-size: 1rem; margin-top: 50px;}
            a:active {color: blue;font-weight: 500;}
        </style>
    </head>
    <body>
        <div class='container'>
            <div class='dado'>Parabéns!!!</div>
            <div class='dado'>Você foi sorteado(a) para o evento <strong>{NOME-INGRESSO}</strong></div>
            <div class='espaco'><span class="destaque">Atenção para as informações do evento:</span></div>
            <p class='espaco'>
                {DATA-HORA-EVENTO}<br>
                {GENERO}
                {DURACAO}
                {CLASSIFICACAO}
                {LOCAL-EVENTO}
                {ENDERECO-EVENTO}
            </p>
            {AVISO-PERIODO-UTILIZACAO}
            <p class="espaco">                
                É necessário confirmar sua presença, fique atento ao prazo para garantir seu ingresso no evento. <br>Após esse prazo, o link de confirmação expira automaticamente e a vaga vai para outro participante.  <br><strong><a href="{LINK-CONFIRMACAO}">Clique aqui para confirmar ou cancelar</a></strong>.
            </p>
            <p>Se não puder comparecer, <strong>lembre-se de cancelar sua presença</strong>, assim, outra pessoa terá a chance de participar. <br>Sua colaboração faz a diferença!</p>

            <p class="destaque">Atenciosamente, <br>Equipe Intranet SME-SP</p>
            
            <img src="{LINK-LOGO}" width="120" alt="Logo SME">
            <br>
        </br>
    </body>
</html>