<html>
    <head>
        <style>
            body { font-family: Arial, sans-serif; color: #333; }
            .container { background-color: #f9f9f9; padding: 20px; border: 1px solid #ddd; }
            .dado { margin: 10px 0 20px 0; }
            .espaco { padding-top: 25px; }
            .destaque { font-weight: 600;color: #f97316;font-size: 1rem; margin-top: 50px;}
        </style>
    </head>
    <body>
        <div class='container'>
            <div class='dado'>Prezado(a),</div>
            <div class='dado'>Sua inscrição para o sorteio do evento <strong>{NOME-INGRESSO}</strong> foi cancelada!</div>
            <div class='dado espaco'><span class="destaque">{TEXTO-DATAS}</span></div>
            <p class='espaco'>Caso deseje se inscrever novamente, acesse a página do evento e preencha seus dados no formulário de participação.</p>
            <p class="destaque">Atenciosamente, Equipe Intranet SME-SP</p>
            <br>
            <img src="{LINK-LOGO}" alt="Logo SME">
            <br>
        </br>
    </body>
</html>